
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: #000; /* Dark background */
  color: #fff; /* Light text color */
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #000000, #191919);


}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  width: 100vw;
  overflow: auto; /* Add scrolling if necessary */
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  transition: background-color 0.5s ease;
  touch-action: none;
}
.palette {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  /* other styles... */
}

.color {
  width: 20px;
  height: 20px;
}

/* You may also want to adjust other elements for better visibility */
.score, .palette {
  color: #fff; /* Light text color */
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take up full width */
}

.score {
  font-size: 5vh;
  font-weight: bolder;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown .gamestatus {
  height: 3vh;
  min-height: 3vh;
  display: block;

  font-size: 3vh;
  padding-bottom: 10px;
}



.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

}


button {
  background-color: #338536; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-shadow: #a0a5a0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #45a049;
}


body {
  font-family: Arial, sans-serif; /* Use a clean, simple font */
  line-height: 1.6; /* Increase line height for readability */
}

h1, h2, h3, h4, h5, h6 {
  color: #4CAF50; /* Green headers */
}

p {
  margin-bottom: 20px; /* Add some space below paragraphs */
}

button {
  margin-top: 30px;
  font-family: Arial, sans-serif; /* Match button font to body font */
}